[tool.pytest.ini_options]
asyncio_mode = "auto"
pythonpath = ["src"]
testpaths = ["tests"]

[tool.black]
line-length = 79
skip-string-normalization = false

[tool.tox]
requires = ["tox>=4.15"]
env_list = ["lint", "type", "py314", "py313", "py312", "py311", "py310"]

[tool.tox.env_run_base]
description = "run unit tests"
allowlist_externals = ["poetry"]
commands_pre = [
  ["poetry", "sync", "--with", "dev", "--no-root"]
]
commands = [["pytest"]]

[tool.tox.env.lint]
commands = [["black", "--check", "."]]

[tool.tox.env.type]
description = "run type checks"
commands = [["mypy", "src"]]

[tool.poetry]
name = "composekit"
version = "1.0.0"
description = "A project to simplify Docker container management."
authors = ["Farzin Kazemzadeh <itisFarzin@proton.me>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
GitPython = "^3.1.46"
PyYAML = "^6.0.3"
httpx = "^0.28.1"
packaging = "^25.0"

[tool.poetry.group.dev.dependencies]
tox = "^4.34.1"
black = "^26.1.0"
mypy = "^1.19.1"
pytest = "^9.0.2"
pytest-sugar = "^1.1.1"
pytest-asyncio = "^1.3.0"
types-PyYAML = "^6.0.12"
